
.left 
  =link_to_function t(:button_show,:scope=>[:search,:search,:advanced]), "$('#advanced_saearch_fiels').show('slow');$(this).hide();$('#hide_fields').show();", :style => "display:#{@atools ? '' : 'none'}", :class => 'btn btn-success', :id => 'show_fields'
  =link_to_function t(:button_hide,:scope=>[:search,:search,:advanced]), "$('#advanced_saearch_fiels').hide('slow');$(this).hide();$('#show_fields').show();", :style => "display:none", :class => 'btn btn-success', :id => 'hide_fields'
#advanced_saearch_fiels{:style => "display:#{@atools ? 'none' : ''}"}
  = form_tag tools_path, :method => :get, :class => 'not_dirty', :id => 'returns_form' do
    = hidden_field_tag :advanced, true
    %br
    %br
    %table.search_results{:border => 0, :cellspacing => 0, :cellpadding => 0, :width => '100%'}
      %tr
        %td{:align => 'left'}
          .bold
            =t :keywords, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          =t :keywords_subtext, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          = text_field_tag(:search, ( params[:search] ? params[:search] : "" ), :title => "Search text in Tool Card")
        
      %tr
        %td{:align => 'left'}
          .bold
            =t :author, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          =t :author_subtext, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          =text_field_tag :author, params[:author], :title => 'Search by author'       
     
      %tr
        %td{:align => 'left'}
          .bold
            =t :language, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          =t :language_subtext, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          = select_tag :language, options_for_select(FormConstants.language.map{|r| [r,r]}, params[:language]), :prompt=> t(:language_instruct,:scope=>[:search,:search,:advanced])
      %tr
        %td{:align => 'left'}
          .bold
            =t :rating, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          =t :rating_subtext, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          = select_tag :rating, options_for_select(FormConstants.rating.map{|r| [r,r]}, params[:rating]), :prompt=> t(:rating_instruct,:scope=>[:search,:search,:advanced])


      %tr
        %td
          .bold{:align => 'left'}
            =t :datecreated, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          =t :datecreated_subtext, :scope =>[:search, :search, :advanced]
        %td{:align => 'left'}
          = text_field_tag :from, params[:from], :maxlength=> 4, :size => 4  
          ="—"
          = text_field_tag :to, params[:to], :maxlength=> 4, :size => 4
          %br
          =t :datecreated_eg, :scope=>[:search,:search,:advanced]
      %tr
        %td
          =submit_tag t(:button_search, :scope => [:search,:search,:advanced]), :class => 'btn btn-primary'
