
- if params[:advanced]
  %ul.pills
    %li
      =link_to "Basic Search", tools_path
    %li.active
      =link_to "Advanced Search", tools_path(:advanced => true)
  %br
  %br
  - form_tag tools_path, :method => :get, :class => 'not_dirty', :id => 'returns_form' do
    = hidden_field_tag :advanced, true
    %br
    %br
    %fieldset
      .clearfix
        =label_tag :name_or_description, "Keywords"
        .input
          = text_field_tag(:search, ( params[:search] ? params[:search] : "" ), :title => "Search text in Tool Card")
          //=image_tag 'Search.png', :width => 30, :height => 30, :onclick => "$('#returns_form').submit();"        
      .clearfix
        = label_tag :author, "Author"
        .input
          =text_field_tag :author, params[:author], :title => 'Search by author'
      .clearfix
        =label_tag :language, "Language"
        .input
          = select_tag :language, options_for_select(FormConstants.language.map{|r| [r,r]}, params[:language]), :include_blank => 'Please select the language in which the tool is written'    
      .clearfix
        = label_tag :time_to_use
        .input
          = text_field_tag :time_to_use_as_seconds, params[:time_to_use_as_seconds], :maxlength=> 20   
          = select_tag :time_to_use_type, options_for_select(FormConstants.time_units.map{|r| [r.pluralize,r]}, (params[:time_to_use_type].blank? ? 'Day' : params[:time_to_use_type]))          
      .clearfix
        =label_tag :rating, "Rating"
        .input
          = select_tag :rating, options_for_select(FormConstants.rating.map{|r| [r,r]}, params[:rating]), :include_blank => 'Please select the rating to search by'          
      .clearfix
        =label_tag :date_created, "Date Created"
        .input
          TODO
      .clearfix
        .input
          =submit_tag 'Search', :class => 'btn primary'
-else
  %ul.pills
    %li.active
      =link_to "Basic Search", tools_path
    %li
      =link_to "Advanced Search", tools_path(:advanced => true)
  %br
  %br
  - form_tag tools_path, :method => :get, :class => 'not_dirty', :id => 'returns_form' do
    = text_field_tag(:search, ( params[:search] ? params[:search] : "" ), :title => "Search text in Tool Card")
    =image_tag 'Search.png', :width => 30, :height => 30, :onclick => "$('#returns_form').submit();"