<h2>Create a new user account</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <br>
  Username
  <br>
  <%= f.text_field :username %></p>  


  <br>
  Email
  <br>
  <%= f.email_field :email %></p>
  <br>
  Password
  <br>
  <%= f.password_field :password %></p>
  <br>
  
  Confirm password
  <br>
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Register", :class => 'btn primary' %></p>
<% end %>

<%= link_to "Back to login", new_session_path(resource_name) %>
