%h2=t(:forgot_your_password?, :scope => :devise)


= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages! 
  %br
  =t :email, :scope => :devise
  %br
  = f.email_field :email 
  %p
  %p= f.submit(t(:send_reset_instructions, :scope => :devise), :class => 'btn btn-primary')

= link_to t(:back_to_login, :scope => :devise), new_session_path(resource_name) 
