:javascript
  var min_height = 100.00;


  function cal_min_height(i, element){
    height = $(element).height();
    //console.log(height);
    if (height < min_height){
      min_height = height;
    }
  }
  
  function set_height(i, element){
    height = $(element).height();
    interval = Math.ceil((height - (height * 0.1)) / min_height);
    new_height = interval * min_height + ((interval - 1)  * 10) + interval + (1 * interval -1) ;
    if (interval > 1){
     $(element).height(new_height); 
    } else{
      $(element).height(min_height);     
    }
  }  
  
  function show_bottom_borders(){
    diff =  $('#left_length').height() - $('#right_length').height();
    if (diff > 1){
      $('.rightbottom').removeClass('nobottom');
    } else if (diff < -1){
      $('.leftbottom').removeClass('nobottom');
    }
  }
  
  $(function(){
    jQuery.each( $('.min_height'), cal_min_height );
    jQuery.each( $('.min_height'), set_height );
    show_bottom_borders();
  })

.right
  =link_to(image_tag('icon_review.png', :height => 35, :alt => 'Review Tool'), new_tool_review_path(@tool), :title => 'Review Tool')
.page-header
  %h1
    = "#{@tool.name}"
    %small                                                     
      =rating_stars(@tool)
  
%br
%br
%table.tic{:width => '100%'}
  %tr
    %td.bold.big
      Description
  %tr
    %td.nobottom
      %br
      =@tool.description
      %br
      %br
%table.ticborder{:cellpadding => 0, :cellspacing => 0, :width => '100%'}
  %tr
    %td{:width => '40%', :valign => 'top'}
      %table#left_length.tic{:width => '100%', :cellpadding => 0, :cellspacing => 0, :bgcolor => '#B8CCE4'}
        %tr
          %td.notop.big.bold.noleft When
          %td.notop.big.noright.bold Why
          %td.notop.noleft.noright{:width => '25%'}
        -FormConstants.when.sort.each do |w|
          -size = FormConstants.send("#{w}_purpose".downcase).size
          %tr
            %td.notop.noleft{:rowspan => size}
              =w
            %td.notop.noright.min_height
              =FormConstants.send("#{w}_purpose".downcase).sort.first    
            %td.noleft.notop.noright{:align => 'center'}
              =image_tag 'check_mark.png', :height => 25 if @tool.why == FormConstants.send("#{w}_purpose".downcase).sort.first
          -(1..(size - 1)).each do |i|
            %tr
              %td.noright.min_height
                = FormConstants.send("#{w}_purpose".downcase).sort[i]
              %td.noleft.noright{:align => 'center'}
                =image_tag 'check_mark.png', :height => 25 if @tool.why == FormConstants.send("#{w}_purpose".downcase).sort[i]
        %tr
          %td.min_height.noleft
            Topic
          %td.noright{:colspan => 2}
            =@tool.topic
        %tr
          %td.min_height.noleft.nobottom.leftbottom
            Who
          %td.noright.nobottom.leftbottom{:colspan => 2}
            =@tool.who
    %td{:valign => 'top', :width => '50%'}
      %table#right_length.tic{:width => '100%', :bgcolor => '#D6E3BC'}
        %tr
          %td.notop.noleft.noright.big.bold{:width => '40%'}  Tool Details
          %td.notop.noleft.noright
        %tr
          %td.noleft.noright.equipment
            Equipment	/	Facilities Needed
          %td.noleft.min_height.noright
            =@tool.special_equipment_facilities
          
        %tr
          %td.noleft.noright
            Expertise Needed
          %td.noleft.min_height.noright
            =@tool.expertise_needed  
          
        %tr
          %td.noleft.noright
            Language
          %td.noleft.min_height.noright
            =@tool.language

        %tr
          %td.noleft.noright
            Authors
          %td.noleft.min_height.noright
            =@tool.author
            
        %tr
          %td.noleft.noright
            Editors
          %td.noleft.min_height.noright
            =@tool.editor

        %tr
          %td.noleft.noright
            This tool was made in
          %td.noleft.min_height.noright 
            =@tool.where_created            
        %tr
          %td.noleft.noright
            Publisher
          %td.noleft.min_height.noright    
            =@tool.publisher
        %tr
          %td.noleft.noright
            Date Created
          %td.noleft.min_height.noright 
            ="#{Date::MONTHNAMES[@tool.date_created.try(:month)]} #{@tool.date_created.try(:year)}"           
        %tr
          %td.noleft.noright
            File Size
          %td.noleft.min_height.noright
            =@tool.source_document_file_size            
        %tr
          %td.noleft.noright
            File Format
          %td.noleft.min_height.noright
            =@tool.source_document_content_type
        %tr
          %td.noleft.noright
            Source Document Title
          %td.noleft.min_height.noright
            =@tool.source_document_name           
        %tr
          %td.noleft.noright.nobottom.rightbottom
            Source Document URL
          %td.noleft.min_height.noright.nobottom.rightbottom
            =link_to(@tool.source_url, @tool.source_url) if @tool.source_url
            
%br
%br
.clear_both
%h2
  Reviews
-if !@tool.reviews.any?
  This tool has not been reviewed
-else
  %table.data
    %tr
      %th
        Rating
      %th
        Reviewer
      %th
        Reviewed At
      %th
        Actions
    -@tool.reviews.each do |r|
      %tr
        %td
          =review_stars(r)
        %th
          = r.user ? link_to(r.user.display_name, user_path(r.user)) : 'Anonoumous'
        %td
          =r.created_at.strftime("%A, %B %d, %Y at %l:%M%p")
        %td
          =view_link tool_review_path(@tool, r)
                    
%br
.clear_both         
