
%table.mainpage.hover#topbar{:width => '100%', :border => 0, :cellpadding => 0, :cellspacing => 0, :style => 'margin-top:5px'}
  %tr
    -if current_user
      %td{:valign => 'top', :align => 'center', :url => "/admin"}
        %table{:cellpadding => 0, :cellspacing => 0}
          %tr
            %td.brown{:width => '30px', :height => '30px'}
            %td
              .text
                =link_to 'Admin', '/admin', :class => "#{admin_selected? ? 'selected' : ''}"
    %td{:url => "/about"}
      %table{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.blue{:width => '30px', :height => '30px'}
          %td
            .text
              =link_to 'Phases', '/about', :class => "#{about_selected? ? 'selected' : ''}"
    %td{:url => "#{new_phases_path}"}
      %table{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.orange{:width => '30px', :height => '30px'}
          %td
            .text
              =link_to 'Guided', '/guided', :class => "#{guided_selected? ? 'selected' : ''}"
    %td{:url => "#{tools_path}"}
      %table{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.green{:width => '30px', :height => '30px'}
          %td
            .text
              =link_to 'Search', '/search', :class => "#{search_selected? ? 'selected' : ''}"
    %td{:url => "#{reviews_path}"}
      %table.hover{:cellpadding => 0, :cellspacing => 0}
        %tr
          %td.red{:width => '30px', :height => '30px'}
          %td
            .text
              =link_to 'Reviews', reviews_path, :class => "#{reviews_selected? ? 'selected' : ''}"      

