#user_bar
  - if current_user.try(:is_admin?) 
    = link_to( t(:title,:scope=>[:admin]), admin_index_path )
  - if (current_user.try(:is_admin?) || Rails.env == 'development') && !['update', 'create'].include?(params[:action])
    - if I18n.locale != :fr
      = link_to t(:switchfrench), url_for(:locale => :fr)
    -else
      = link_to t(:switchenglish), url_for(:locale => :en)
  -if defined? current_user    
    -if current_user     
      = link_to( t(:hello,:scope=>[:devise])+" #{current_user.username}!", edit_user_registration_path)
      &nbsp;
      &nbsp;
      = link_to( t(:logout,:scope=>[:devise]), destroy_user_session_path)
    -else  
      =link_to( t(:login,:scope=>[:devise]), new_user_session_path )
