%fieldset
  .clearfix.required
    = form.label :experience, 'What is your experience with this tool?'
    .input
      %table
        %tr
          %td{:align => 'left'}
            =form.radio_button :experience, 'never'
            Never used it
            %br
            =form.radio_button :experience, 'tried'
            ="I've tried to use it"
            %br
            =form.radio_button :experience, 'twice'
            Used it once or twice
            %br
            =form.radio_button :experience, 'regularly'
            Use it regularly



  .clearfix.required
    = form.label :community_context, '1. Community Context:', :class => 'big'
    .input      
      %table.border
        %tr
          %th{:align => 'left'}
            =form.radio_button :community_context, '2'
            High
          %th{:align => 'left'}
            =form.radio_button :community_context, '1'
            Low          
          %th{:align => 'left'}
            =form.radio_button :community_context, '0'
            Not Stated
        %tr
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Local/regional conditions to generate results from tool are clearly stated. 
              %li Target users are identified.
              %li Underlying assumptions or conditions when and where the tool works are clearly presented.
                
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Local/regional conditions are vague or generalized. 
              %li Target users are not clearly defined.
              %li Assumptions or conditions where or when to use the tool are vague.
              

          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Community conditions are not presented.
              %li Target users are not identified. 
              %li Conditions where or when to use the tool are not presented
        %tr
          %td{:colspan => 3, :align => 'left'}
            =form.label :community_context_comment, 'Community Context Comments:'
            =form.text_area :community_context_comment, :rows => 3, :cols => 40, :style => 'width:400px'
              
      
      
  .clearfix.required
    = form.label :generates_results, '2. Generates Results'
    .input      
      %table.border
        %tr
          %th{:align => 'left'}
            =form.radio_button :generates_results, '2'
            High
          %th{:align => 'left'}
            =form.radio_button :generates_results, '1'
            Low          
          %th{:align => 'left'}
            =form.radio_button :generates_results, '0'
            Not Stated
        %tr
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li
                Goal/purpose of tool is clearly stated.
              %li
                Possible to implement by a local group.
              %li
                Tasks will achieve stated goal.
              %li
                Examples of results from tool are informative and helpful.
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li
                Goal/purpose is unclear.
              %li
                Requires specialized knowledge or resources not readily available.
              %li
                Tasks do not clearly align with the goal.
              %li
                Examples are unhelpful. 
                
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li
                Goal/purpose is not stated.
              %li
                Tasks are unclear.
              %li
                Examples are not given.    
        %tr
          %td{:colspan => 3, :align => 'left'}
            =form.label :generates_results_comment, 'Generates Results Comments:'
            =form.text_area :generates_results_comment, :rows => 3, :cols => 40      , :style => 'width:400px'                                    
                  
                  
                  
  .clearfix.required
    = form.label :resources_identified, '3. Resources Identified:'
    .input      
      %table.border
        %tr
          %th{:align => 'left'}
            =form.radio_button :resources_identified, '2'
            High
          %th{:align => 'left'}
            =form.radio_button :resources_identified, '1'
            Low          
          %th{:align => 'left'}
            =form.radio_button :resources_identified, '0'
            Not Stated
        %tr
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Other resources to use the tool are clearly specified, e.g. expertise, facilitator, technical, facilities.

          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Other resources to use the tool are unclear.


          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Resources to use the tool are not stated.
        %tr
          %td{:colspan => 3, :align => 'left'}
            =form.label :resources_identified_comment, 'Resources Identified Comments:'
            =form.text_area :resources_identified_comment, :rows => 3, :cols => 40    , :style => 'width:400px'          



  .clearfix.required
    = form.label :format_presentation, '4. Format/Presentation'
    .input      
      %table.border
        %tr
          %th{:align => 'left'}
            =form.radio_button :format_presentation, '2'
            High
          %th{:align => 'left'}
            =form.radio_button :format_presentation, '1'
            Low          
          %th{:align => 'left'}
            =form.radio_button :format_presentation, '0'
            Not Stated
        %tr
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Text and descriptions are easy to understand.
              %li Uses plain language.
              %li Page layout is reader friendly.
              %li Visuals and graphics help in understanding how to use tool. 
              %li Layout emphasizes what elements of the tool are most important.
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Text and descriptions are wordy and complicated.
              %li Uses difficult jargon.
              %li Visual aids are limited or unhelpful 
              %li Layout does not emphasize what is important.
              

          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Text and descriptions are impossible to understand.
              %li Layout is impossible to follow.
        %tr
          %td{:colspan => 3, :align => 'left'}
            =form.label :format_presentation_comment, 'Format Presentation Comments:'
            =form.text_area :format_presentation_comment, :rows => 3, :cols => 40    , :style => 'width:400px'          
                              


  .clearfix.required
    = form.label :adaptable, '5. Adaptable:'
    .input      
      %table.border
        %tr
          %th{:align => 'left'}
            =form.radio_button :adaptable, '2'
            High
          %th{:align => 'left'}
            =form.radio_button :adaptable, '1'
            Low          
          %th{:align => 'left'}
            =form.radio_button :adaptable, '0'
            Not Stated
        %tr
          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Limited expertise is needed to adapt activities to fit local circumstances.
              %li Examples of modified activities are helpful and easy to understand.
              %li Suggests how tool merges with other tools or activities.
              

          %td{:align => 'left', :valign => 'top'}
            %ul
              %li Special expertise or consultants are needed to adapt activities to fit local circumstances.
              %li Examples of modified activities are unhelpful. 

              


          %td{:align => 'left', :valign => 'top'}
            %ul
              %li No mention of adapting activities.
        %tr
          %td{:colspan => 3, :align => 'left'}
            =form.label :adaptable_comment, 'Adaptable Comments:'
            =form.text_area :adaptable_comment, :rows => 3, :cols => 40    , :style => 'width:400px'          


  .clearfix.required
    %table
      %tr
        %td{:align => 'left'}
          = form.label :comment, '6. Overall Comments:'
          .input
            =form.text_area :comment, :rows => 3, :cols => 40, :style => 'width:400px'