%fieldset

  .clearfix.required
    = form.label :community_context, t(:q_one,:scope=>[:reviews,:questions]), :class => 'big'
    .input      
      %table{:width => '100%'}
        %tr
          %th{:width=>'33%', :align => 'left', :valign => 'middle', :onclick => "$('#review_community_context_2').attr('checked', true);"}
            =form.radio_button :community_context, '2'
            &nbsp; 
            =t :hi, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :valign => 'middle', :onclick => "$('#review_community_context_1').attr('checked', true);"}
            =form.radio_button :community_context, '1'
            &nbsp; 
            =t :lo, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_community_context_0').attr('checked', true);"}
            =form.radio_button :community_context, '0'
            &nbsp; 
            =t :ns, :scope=>[:reviews,:questions]
        %tr
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :chi_one,  :scope=>[:reviews,:questions]
                
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :clo_one,  :scope=>[:reviews,:questions]

          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :cna_one,  :scope=>[:reviews,:questions]
      
  %br    
  .clearfix.required
    = form.label :generates_results, t(:q_two,:scope=>[:reviews,:questions]), :class => 'big'
    .input      
      %table{:width => '100%'}
        %tr
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_generates_results_2').attr('checked', true);"}
            =form.radio_button :generates_results, '2'
            &nbsp; 
            =t :hi, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_generates_results_1').attr('checked', true);"}
            =form.radio_button :generates_results, '1'
            &nbsp; 
            =t :lo, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_generates_results_0').attr('checked', true);"}
            =form.radio_button :generates_results, '0'
            &nbsp; 
            =t :ns, :scope=>[:reviews,:questions]
        %tr
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :chi_two, :scope=>[:reviews,:questions]
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :clo_two, :scope=>[:reviews,:questions]
                
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :cna_two, :scope=>[:reviews,:questions]
                  
  %br
  %br                
  .clearfix.required
    = form.label :resources_identified, t(:q_thr,:scope=>[:reviews,:questions]), :class => 'big'
    .input      
      %table{:width => '100%'}
        %tr
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_resources_identified_2').attr('checked', true);"}
            =form.radio_button :resources_identified, '2'
            &nbsp; 
            =t :hi, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_resources_identified_1').attr('checked', true);"}
            =form.radio_button :resources_identified, '1'
            &nbsp; 
            =t :lo, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_resources_identified_0').attr('checked', true);"}
            =form.radio_button :resources_identified, '0'
            &nbsp; 
            =t :ns, :scope=>[:reviews,:questions]
        %tr
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :chi_thr, :scope=>[:reviews,:questions]

          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :clo_thr, :scope=>[:reviews,:questions]


          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :cna_thr, :scope=>[:reviews,:questions]

  %br
  .clearfix.required
    = form.label :format_presentation, t(:q_fou,:scope=>[:reviews,:questions]), :class => 'big'
    .input      
      %table{:width => '100%'}
        %tr
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_format_presentation_2').attr('checked', true);"}
            =form.radio_button :format_presentation, '2'
            &nbsp; 
            =t :hi, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_format_presentation_1').attr('checked', true);"}
            =form.radio_button :format_presentation, '1'
            &nbsp; 
            =t :lo, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_format_presentation_0').attr('checked', true);"}
            =form.radio_button :format_presentation, '0'
            &nbsp; 
            =t :ns, :scope=>[:reviews,:questions]
        %tr
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :chi_fou, :scope=>[:reviews,:questions]
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :clo_fou, :scope=>[:reviews,:questions]
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :cna_fou, :scope=>[:reviews,:questions]


  %br
  %br
  .clearfix.required
    = form.label :adaptable, t(:q_fiv,:scope=>[:reviews,:questions]), :class => 'big'
    .input      
      %table{:width=>'100%'}
        %tr
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_adaptable_2').attr('checked', true);"}
            =form.radio_button :adaptable, '2'
            &nbsp; 
            =t :hi, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_adaptable_1').attr('checked', true);"}
            =form.radio_button :adaptable, '1'
            &nbsp; 
            =t :lo, :scope=>[:reviews,:questions]
          %th{:width=>'33%', :align => 'left', :onclick => "$('#review_adaptable_0').attr('checked', true);"}
            =form.radio_button :adaptable, '0'
            &nbsp; 
            =t :ns, :scope=>[:reviews,:questions]
        %tr
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :chi_fiv,  :scope=>[:reviews,:questions]
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :clo_fiv,  :scope=>[:reviews,:questions]
          %td{:align => 'left', :valign => 'top'}
            %table 
              %tr
                %td{:width=>'22'}
                %td
                  =t :cna_fiv,  :scope=>[:reviews,:questions]

  %br
  %br
  .clearfix.required
    %table{:width => '100%'}
      %tr
        %td{:align => 'left'}
          = form.label :comment, t(:q_six,:scope=>[:reviews,:questions]), :class => 'big'
          %p
          .input
            =form.text_area :comment, :rows => 3, :cols => 40, :style => 'width:99%'
