
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:class=>'form-horizontal'} ) do |f| 
  %br
  = f.input :login, :label => t(:username, :scope => :devise)

  %p
  %br
  = f.input :password, :label => t(:password, :scope => :devise)

  %br
  %p{:style => 'white-space:nowrap;'}
    - if devise_mapping.rememberable?
      &nbsp;
      =f.input :remember_me, :as=>'boolean', :label=> t(:remember_me, :scope => :devise)
    = f.submit(:login , :class => 'btn btn-primary', :style => "float:left", :value => t(:login, :scope => :devise))

%br
%br
%p
%br
= render :partial => "devise/shared/links"
