%fieldset
  .clearfix
    = form.label :name, "Tool Title"
    .input
      = form.text_field :name, :maxlength=> 255
%fieldset
  %legend
    Complexity
  .clearfix
    =form.label :reading_level
    .input
      =form.select :reading_level, FormConstants.reading_levels.map{|r| [r,r]}, :include_blank => 'Please select the reading level'   
  .clearfix
    =form.label :jargon
    .input
      =form.select :jargon, FormConstants.jargon.map{|r| [r,r]}, :include_blank => 'Please select the number for jargon-words used?'   
  .clearfix
    =form.label :steps
    .input
      =form.select :steps, FormConstants.steps.map{|r| [r,r]}, :include_blank => 'Please select the number of steps to complete?'  
      
      
%fieldset
  %legend
    Topic (Which of the four categories of the triple bottom line does this tool apply to?)
  .clearfix
    .input
      %ul.inputs-list
        -@tool.focus.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'
                
%fieldset      
  %legend
    Where (What geographical coverage of the community and/or type of community is intended to be impacted?) 
  .clearfix
    .input.inputs-list
      %table{:width => '100%'}
        -@tool.where_attrs.sort.in_groups_of(2) do |q|
          %tr
            %td
              %li
                %label
                  =form.check_box q[0], :style => 'display:inline;float:left'
                  %span
                    =form.label q[0], q[0].gsub(/^[^_]*_/, '').humanize, :style => 'display:block;float:left;padding-left: 3px;'
            %td    
              -if q[1]
                %li
                  %label
                    =form.check_box q[1], :style => 'display:inline;float:left'
                    %span
                      =form.label q[1], q[1].gsub(/^[^_]*_/, '').humanize, :style => 'display:block;float:left;padding-left: 3px;'       
       
       
%fieldset      
  %legend
    When (At what phase of the CED project cycle is this tool most useful?) 
  .clearfix
    .input
      %ul.inputs-list
        -@tool.when.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'   
                
                
%fieldset      
  %legend
    How (What do you need or what do you need to do to use the tool?)
  .clearfix
    = form.label :method_of_access
    .input
      = form.text_field :method_of_access, :maxlength=> 255              
  .clearfix
    = form.label :cost_to_use
    .input
      = form.text_field :cost_to_use, :maxlength=> 20
  .clearfix
    = form.label :cost_to_obtain
    .input
      = form.text_field :cost_to_obtain, :maxlength=> 20                  
  .clearfix
    = form.label :time_to_use
    .input
      = form.text_field :time_to_use, :maxlength=> 20   
      = form.select :time_to_use_type, FormConstants.time_units.map{|r| [r,r]}              
  .clearfix
    = form.label :other_resources_needed
    .input
      = form.text_field :other_resources_needed, :maxlength=> 255        
  .clearfix
    = form.label :electronics_equipment
    .input
      = form.text_field :electronics_equipment, :maxlength=> 255  
  .clearfix
    = form.label :software
    .input
      = form.text_field :software, :maxlength=> 255         
  .clearfix
    = form.label :activities_involved
    .input
      = form.text_field :activities_involved, :maxlength=> 255     
  .clearfix
    = form.label :expertise_needed
    .input
      = form.text_field :expertise_needed, :maxlength=> 255                         
                    
%fieldset      
  %legend
    Who (The individuals, organizations, associations identified or intended to apply the tool?)
  .clearfix
    .input
      %ul.inputs-list
        -@tool.who.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'
                
%fieldset      
  %legend
    Who (The peoples identified or intended to benefit from use of the tool?)
  .clearfix
    .input
      %ul.inputs-list
        -@tool.whobeneficiaries.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'                

                
%fieldset      
  %legend
    What (What is the purpose of using this particular tool?) 
  .clearfix
    .input.inputs-list
      %table{:width => '100%'}
        -@tool.why.sort.in_groups_of(2) do |q|
          %tr
            %td
              %li
                %label
                  =form.check_box q[0], :style => 'display:inline;float:left'
                  %span
                    =form.label q[0], q[0].gsub(/^[^_]*_/, '').humanize, :style => 'display:block;float:left;padding-left: 3px;'
            %td    
              -if q[1]
                %li
                  %label
                    =form.check_box q[1], :style => 'display:inline;float:left'
                    %span
                      =form.label q[1], q[1].gsub(/^[^_]*_/, '').humanize, :style => 'display:block;float:left;padding-left: 3px;'                              
  

%fieldset      
  %legend
    Tool Description
  .clearfix
    = form.label :author
    .input
      = form.text_field :author, :maxlength=> 255
  .clearfix
    =form.label :where, 'Which country was this tool created in'
    .input
      =form.text_field :where      
  .clearfix
    = form.label :date_created
    .input
      = form.date_select :date_created
  .clearfix
    = form.label :language
    .input
      = form.select :language, FormConstants.language.map{|r| [r,r]}, :include_blank => 'Please select the language in which the tool is written'    
  .clearfix
    = form.label :relevant_pages
    .input
      = form.text_field :relevant_pages, :maxlength=> 255 
  .clearfix
    = form.label :total_pages
    .input
      = form.text_field :total_pages, :maxlength=> 255          \ 
  .clearfix
    = form.label :source_document
    .input
      = form.file_field :source_document
  .clearfix
    = form.label :description
    .input
      = form.text_area :description,:class => 'xxlarge'
      