:javascript
  function togglePurposeSelects(id){
    $('.purpose').attr('name', '')
    $('.purpose').hide();
    $(id).attr('name', 'tool[why]')
    $(id).show();    
  }

  $(function(){
      $('.copyright_button').click(function(){
        if ($(this).val() == "1"){
          $('.copyright_restrictions_area').show();
        }else{
          $('.copyright_restrictions_area').hide();          
        }
      });
      whn = $('#tool_when').val();
      id = '#' + whn.toLowerCase() + "_purpose";      
      togglePurposeSelects(id);
    
    $('#tool_when').change(function(){
      id = '#' + $(this).val().toLowerCase() + "_purpose";
      togglePurposeSelects(id);
    });
  });

%fieldset
  .clearfix
    = form.label :name, t(:tooltitle,:scope=>[:admin,:newtool])
    .input
      = form.text_field :name, :maxlength=> 255
  .clearfix
    = form.label :source_document_name, t(:sourcetitle,:scope=>[:tic])
    .input
      = form.text_field :source_document_name, :maxlength=> 255      
  .clearfix
    = form.label :source_document, t(:sourcefile,:scope=>[:admin,:newtool])
    .input
      = form.file_field :source_document      
  .clearfix
    =form.label :source_url, t(:sourceurl,:scope=>[:tic])
    .input
      =form.text_field :source_url, :maxlength => 255      
  .clearfix
    = form.label :author, t(:authors,:scope=>[:tic])
    .input
      = form.text_field :author, :maxlength=> 255
  .clearfix
    = form.label :editor, t(:editors,:scope=>[:tic])
    .input
      = form.text_field :editor, :maxlength=> 255      
  .clearfix
    = form.label :publisher, t(:pub,:scope=>[:tic])
    .input
      = form.text_field :publisher, :maxlength=> 255      
  .clearfix
    = form.label :date_created, t(:datecreated,:scope=>[:tic])
    .input
      = form.date_select :date_created, :start_year => Time.now.year - 20, :discard_day => true, :order => [:year, :month, :day], :use_month_names => [t(:jan,:scope=>[:months]),t(:feb,:scope=>[:months]),t(:mar,:scope=>[:months]),t(:apr,:scope=>[:months]),t(:may,:scope=>[:months]),t(:jun,:scope=>[:months]),t(:jul,:scope=>[:months]),t(:aug,:scope=>[:months]),t(:sep,:scope=>[:months]),t(:oct,:scope=>[:months]),t(:nov,:scope=>[:months]),t(:dec,:scope=>[:months]) ]
  .clearfix
    = form.label :language, t(:lang,:scope=>[:tic])
    .input
      = form.select :language, FormConstants.language.map{|r| [r,r]}, :include_blank => t(:lang_instruct,:scope=>[:admin,:newtool])
  .clearfix
    = form.label :description, t(:heading_desc,:scope=>[:tic])
    .input
      = form.text_area :description,:class => 'xxlarge', :rows => 5
      
%fieldset      
  %legend
    =t(:when,:scope=>[:admin,:newtool])     
  .clearfix
    .input
      = form.select :when, FormConstants.when.map{|r| [r,r]}, :include_blank => t(:phase_instruct,:scope=>[:admin,:newtool]) 

%fieldset      
  %legend
    =t(:why,:scope=>[:admin,:newtool])     
  .clearfix
    .input
      = form.select :why, FormConstants.organizing_purpose.map{|r| [r,r]}, {:include_blank => 'Please select the purpose for the tool'}, :style => "#{@tool.when == 'Organizing' ? '' : 'display:none'}", :id => 'organizing_purpose', :class => 'purpose'
      = form.select :why, FormConstants.planning_purpose.map{|r| [r,r]},{:include_blank => 'Please select the purpose for the tool'}, :style => "#{@tool.when == 'Planning' ? '' : 'display:none'}", :id => 'planning_purpose', :class => 'purpose'
      = form.select :why, FormConstants.analyzing_purpose.map{|r| [r,r]}, {:include_blank => 'Please select the purpose for the tool'} , :style => "#{@tool.when == 'Analyzing' ? '' : 'display:none'}", :id => 'analyzing_purpose', :class => 'purpose'
      = form.select :why, FormConstants.implementing_purpose.map{|r| [r,r]}, {:include_blank => 'Please select the purpose for the tool'}, :style => "#{@tool.when == 'Implementing' ? '' : 'display:none'}", :id => 'implementing_purpose', :class => 'purpose'
      = form.select :why, FormConstants.reviewing_purpose.map{|r| [r,r]}, {:include_blank => 'Please select the purpose for the tool'}, :style => "#{@tool.when == 'Reviewing' ? '' : 'display:none'}", :id => 'reviewing_purpose', :class => 'purpose'
      
%fieldset      
  %legend
    =t(:where,:scope=>[:admin,:newtool])     
  .clearfix
    .input
      = form.select :where, FormConstants.where.map{|r| [r,r]}   
  .clearfix
    =form.label :where_created, t(:which,:scope=>[:admin,:newtool])
    .input
      =form.text_field :where_created         
      
%fieldset
  %legend
    =t(:topic,:scope=>[:admin,:newtool])     
  .clearfix
    .input
      = form.select :topic, FormConstants.topic.map{|r| [r,r]}, :include_blank => t(:topic_instruct,:scope=>[:admin,:newtool])
      
%fieldset
  %legend
    =t(:expneeds,:scope=>[:admin,:newtool])     
  .clearfix
    .input
      = form.select :expertise_needed, FormConstants.expertise_needed.map{|r| [r,r]}, :include_blank => t(:lang_instruct,:scope=>[:admin,:newtool])      

%fieldset      
  .clearfix
    = form.label :special_equipment_facilities, t(:resources,:scope=>[:admin,:newtool])
    .input
      = form.text_field :special_equipment_facilities, :maxlength=> 255      
  .clearfix
    = form.label :who, t(:who,:scope=>[:admin,:newtool])
    .input
      &nbsp;
      =t(:who_placeholder,:scope=>[:admin,:newtool])     
     
  .clearfix
    = form.label :copyright_holder, t(:copy_holder,:scope=>[:admin,:newtool])
    .input
      = form.text_field :copyright_holder, :maxlength => 255
  .clearfix
    = form.label :copyright, t(:copy_check,:scope=>[:admin,:newtool])
    .input
      =t :check_yes
      =form.radio_button :copyright, '1', :class => 'copyright_button'    
      &nbsp;
      =t :check_no
      =form.radio_button :copyright, '0', :class => 'copyright_button' 
  .clearfix.copyright_restrictions_area{:style => "#{@tool.copyright == '1' ? 'display:display' : 'display:none'}"}
    = form.label :copyright_restrictions, t(:copy_restr,:scope=>[:admin,:newtool])
    .input
      = form.text_field :copyright_restrictions, :maxlength => 255       
  .clearfix
    = form.label :copyright_permissions, t(:copy_perm,:scope=>[:admin,:newtool])
    .input
      =t :check_yes
      =form.radio_button :copyright_permissions, '1'   
      &nbsp;       
      =t :check_no
      =form.radio_button :copyright_permissions, '0'
      %br
      %br
  .clearfix
    = form.label :comments, t(:comments,:scope=>[:admin,:newtool])
    .input
      = form.text_area :comments, :rows => 5



       
       

                                         
                    
