%fieldset
  .clearfix
    = form.label :name, "Tool Title"
    .input
      = form.text_field :name, :maxlength=> 255
%fieldset
  %legend
    What is main focus of the CED activity or project?
  .clearfix
    =form.label :focus
    .input
      =form.select :focus, FormConstants.focus.map{|r| [r,r]}, :include_blank => 'Please select a reading level'
%fieldset
  %legend
    Complexity
  .clearfix
    =form.label :reading_level
    .input
      =form.select :reading_level, FormConstants.reading_levels.map{|r| [r,r]}, :include_blank => 'Please select a reading level'   
  .clearfix
    =form.label :jargon
    .input
      =form.select :jargon, FormConstants.jargon.map{|r| [r,r]}, :include_blank => 'How much jargon is used?'   
  .clearfix
    =form.label :steps
    .input
      =form.select :steps, FormConstants.steps.map{|r| [r,r]}, :include_blank => 'How many steps to complete?'  
      
%fieldset      
  %legend
    Who (User Groups) (The individuals, organizations, associations identified or intended to apply the tool)
  .clearfix
    .input
      %ul.inputs-list
        -@tool.who.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'
                
%fieldset      
  %legend
    Who (Beneficiaries) (The individuals, organizations, associations identified or intended to benefit from the use of the tool)
  .clearfix
    .input
      %ul.inputs-list
        -@tool.whobeneficiaries.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'                
      
      
%fieldset      
  %legend
    Where (What types of communities can this tool be used to benefit?) 
  .clearfix
    .input
      %ul.inputs-list
        -@tool.where_attrs.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'           
  .clearfix
    =form.label :where, 'This tool was made in'
    .input
      =form.text_field :where
      
      
%fieldset      
  %legend
    When (At what phase of the CED project cycle is this tool most useful?) 
  .clearfix
    .input
      %ul.inputs-list
        -@tool.when.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'           
  


%fieldset      
  %legend
    Why (What is the purpose of using this particular tool?)
  .clearfix
    .input
      %ul.inputs-list
        -@tool.why.map(&:to_s).sort.each do |q|          
          %li
            %label
              =form.check_box q, :style => 'display:inline'
              %span
                =form.label q, q.gsub(/^[^_]*_/, '').humanize, :style => 'display:inline'
              
              
%fieldset      
  %legend
    How (What resources and or instructions are needed to use the tool?)
  .clearfix
    = form.label :cost_to_obtain
    .input
      = form.text_field :cost_to_obtain, :maxlength=> 20
  .clearfix
    = form.label :cost_to_use
    .input
      = form.text_field :cost_to_use, :maxlength=> 20     
  .clearfix
    = form.label :time_to_use
    .input
      = form.text_field :time_to_use, :maxlength=> 20   
      = form.select :time_to_use_type, FormConstants.time_units.map{|r| [r,r]}
  .clearfix
    = form.label :electronics_equipment
    .input
      = form.text_field :electronics_equipment, :maxlength=> 255  
  .clearfix
    = form.label :software
    .input
      = form.text_field :software, :maxlength=> 255         
  .clearfix
    = form.label :method_of_access
    .input
      = form.text_field :method_of_access, :maxlength=> 255  
  .clearfix
    = form.label :other_resources_needed
    .input
      = form.text_field :other_resources_needed, :maxlength=> 255      
  .clearfix
    = form.label :activities_involved
    .input
      = form.text_field :activities_involved, :maxlength=> 255  
  .clearfix
    = form.label :expertise_needed
    .input
      = form.text_field :expertise_needed, :maxlength=> 255      


%fieldset      
  %legend
    Tool Description
  .clearfix
    = form.label :author
    .input
      = form.text_field :author, :maxlength=> 255
  .clearfix
    = form.label :date_created
    .input
      = form.date_select :date_created
  .clearfix
    = form.label :language
    .input
      = form.select :language, FormConstants.language.map{|r| [r,r]}, :include_blank => 'Please select the language in which the tool is written'    
  .clearfix
    = form.label :relevant_pages
    .input
      = form.text_field :relevant_pages, :maxlength=> 255 
  .clearfix
    = form.label :total_pages
    .input
      = form.text_field :total_pages, :maxlength=> 255          \ 
  .clearfix
    = form.label :source_document
    .input
      = form.file_field :source_document
  .clearfix
    = form.label :description
    .input
      = form.text_area :description,:class => 'xxlarge'
      