:javascript
  function togglePurposeSelects(id){
    $('.purpose').attr('name', '')
    $('.purpose').hide();
    $(id).attr('name', 'tool[why]')
    $(id).show();    
  }

  $(function(){
      $('.copyright_button').click(function(){
        if ($(this).val() == "1"){
          $('.copyright_restrictions_area').show();
        }else{
          $('.copyright_restrictions_area').hide();          
        }
      });
      whn = $('#tool_when').val();
      id = '#' + whn.toLowerCase() + "_purpose";      
      togglePurposeSelects(id);
    
    $('#tool_when').change(function(){
      id = '#' + $(this).val().toLowerCase() + "_purpose";
      togglePurposeSelects(id);
    });
  });

= form.input :name, :label => t(:tooltitle,:scope=>[:admin,:newtool])
= form.input :source_document_name, :label => t(:sourcetitle,:scope=>[:tic])
= form.input :source_document, :label => t(:sourcefile,:scope=>[:admin,:newtool])
= form.input :source_url, :label => t(:sourceurl,:scope=>[:tic])
= form.input :author, :label=> t(:authors,:scope=>[:tic])
= form.input :editor, :label=> t(:editors,:scope=>[:tic])
= form.input :publisher, :label=> t(:pub,:scope=>[:tic])
= form.input :date_created, :as=>'date', :label=>t(:datecreated,:scope=>[:tic])
= form.input :language, :label=>t(:lang,:scope=>[:tic]) do
  = form.select :language, FormConstants.language.map{|r| [r,r]}, :include_blank => t(:lang_instruct,:scope=>[:admin,:newtool])

= form.input :description, :input_html=>{:rows=>5, :class=>'xxlarge'}, :label=>t(:heading_desc,:scope=>[:tic])

.big.bold
  =t(:when_q,:scope=>[:admin, :newtool]) 
%p

= form.input :when, :label=>t(:when,:scope=>[:admin, :newtool]) do
  = form.select :when, FormConstants.when.map{|r| [r,r]}, :include_blank => t(:phase_instruct,:scope=>[:admin,:newtool]) 
      
.big.bold
  =t(:why_q,:scope=>[:admin, :newtool]) 
%p

= form.input :why, :label=>t(:why,:scope=>[:admin, :newtool]) do
  = form.select :why, FormConstants.organizing_purpose.map{|r| [r,r]}, {:include_blank => t(:purp_instruct, :scope=>[:admin, :newtool]) }, :style => "#{@tool.when == 'Organizing' ? '' : 'display:none'}", :id => 'organizing_purpose', :class => 'purpose'
  = form.select :why, FormConstants.planning_purpose.map{|r| [r,r]},{:include_blank => t(:purp_instruct, :scope=>[:admin, :newtool]) }, :style => "#{@tool.when == 'Planning' ? '' : 'display:none'}", :id => 'planning_purpose', :class => 'purpose'
  = form.select :why, FormConstants.analyzing_purpose.map{|r| [r,r]}, {:include_blank => t(:purp_instruct, :scope=>[:admin, :newtool]) } , :style => "#{@tool.when == 'Analyzing' ? '' : 'display:none'}", :id => 'analyzing_purpose', :class => 'purpose'
  = form.select :why, FormConstants.implementing_purpose.map{|r| [r,r]}, {:include_blank => t(:purp_instruct, :scope=>[:admin, :newtool]) }, :style => "#{@tool.when == 'Implementing' ? '' : 'display:none'}", :id => 'implementing_purpose', :class => 'purpose'
  = form.select :why, FormConstants.reviewing_purpose.map{|r| [r,r]}, {:include_blank => t(:purp_instruct, :scope=>[:admin, :newtool]) }, :style => "#{@tool.when == 'Reviewing' ? '' : 'display:none'}", :id => 'reviewing_purpose', :class => 'purpose'

      
.big.bold
  =t(:where_q,:scope=>[:admin, :newtool]) 
%p
= form.input :where, :label=>t(:where,:scope=>[:admin, :newtool]) do
  = form.select :where, FormConstants.where.map{|r| [r,r]}   

=form.input :where_created, :label=>t(:which,:scope=>[:admin,:newtool])

.big.bold
  =t(:topic_q,:scope=>[:admin, :newtool]) 
%p
= form.input :topic, :label=>t(:topic,:scope=>[:admin, :newtool]) do
  = form.select :topic, FormConstants.topic.map{|r| [r,r]}, :include_blank => t(:topic_instruct,:scope=>[:admin,:newtool])
      
.big.bold
  =t(:expneeds_q, :scope=>[:admin, :newtool]) 
%p
= form.input :expertise_needed, :label=>t(:expneeds,:scope=>[:admin, :newtool]) do
  = form.select :expertise_needed, FormConstants.expertise_needed.map{|r| [r,r]}, :include_blank => t(:lang_instruct,:scope=>[:admin,:newtool])      
      
= form.input :special_equipment_facilities, :label=>t(:resources,:scope=>[:admin,:newtool])
= form.input :who, :label=>t(:who,:scope=>[:admin,:newtool]), :placeholder=>t(:who_placeholder,:scope=>[:admin, :newtool])
= form.input :copyright_holder, :label=>t(:copy_holder,:scope=>[:admin,:newtool])

%fieldset      
  .clearfix
    = form.label :copyright, t(:copy_check,:scope=>[:admin,:newtool])
    .input
      =t :check_yes
      =form.radio_button :copyright, '1', :class => 'copyright_button'    
      &nbsp;
      =t :check_no
      =form.radio_button :copyright, '0', :class => 'copyright_button' 

  .clearfix.copyright_restrictions_area{:style => "#{@tool.copyright == '1' ? 'display:display' : 'display:none'}"}
    = form.label :copyright_restrictions, t(:copy_restr,:scope=>[:admin,:newtool])
    .input
      = form.text_field :copyright_restrictions, :maxlength => 255       

  .clearfix
    = form.label :copyright_permissions, t(:copy_perm,:scope=>[:admin,:newtool])
    .input
      =t :check_yes
      =form.radio_button :copyright_permissions, '1'   
      &nbsp;       
      =t :check_no
      =form.radio_button :copyright_permissions, '0'
      %br
  
= form.input :copyright_permissions, :as=>:radio_buttons, :collection=> [t(:check_yes),t(:check_no)], :label=>t(:copy_perm,:scope=>[:admin,:newtool])

= form.input :comments, :input_html=>{:rows=>5}, :label=>t(:comments,:scope=>[:admin,:newtool])

