%h2
  = "Tool Edit Form: #{@tool.name}"
    
%div.form
  - form_for [:admin, @tool], :builder => CmFormBuilder, :html => { :multipart => true }  do |f|
    = f.error_messages
    = render :partial => "form", :object => f
    %br
    = submit_tag "Update", :class => "btn primary"

    = link_to "Cancel", admin_tools_path, :class => "btn danger"
%br
%br    
  
.clear
%div.actions_footer.clear
  = action_links [:admin, @tool], :exclude => [:edit] 