:javascript
  function select_purpose(clazz){
    $('.purpose').hide();
    $(clazz).show();
    return true;
  }


.page-header
  %h1
    Guided Questions
    %small
      Let us guide you to the right tool
      
%table{:width => '75%'}
  %tr
  
    %td.phase.widespace{:valign => 'top'}
      %h2
        Step 1
        %small
          Select a phase    
      %br
      Organizing
      =radio_button_tag :phases, 'organizing', false, :onclick => "select_purpose('.organizing')"
      %br
      Planning
      =radio_button_tag :phases, 'planning', false, :onclick => "select_purpose('.planning')"
      %br
      Analyzing
      =radio_button_tag :phases, 'analyzing', false, :onclick => "select_purpose('.analyzing')"      
      %br
      Implementing
      =radio_button_tag :phases, 'implementing', false, :onclick => "select_purpose('.implementing')"      
      %br
      Reviewing
      =radio_button_tag :phases, 'reviewing', false, :onclick => "select_purpose('.reviewing')"      
    %td.widespace{:valign => 'top'}
      %h2
        Step 2
        %small
          Select a purpose 
      %br     
      .organizing.purpose{:style => "#{params[:phases] == 'organizing' ? '' : 'display:none'}"}
        Partnership Building
        =radio_button_tag :purpose, 'partnership_building'
        %br
        Fundraising
        =radio_button_tag :purpose, 'fundraising'
        %br        
        Project Team Building
        =radio_button_tag :purpose, 'project_team_building'
        %br        
        Engagement
        =radio_button_tag :purpose, 'engagement'
        %br     
      
      .planning.purpose{:style => "#{params[:phases] == 'planning' ? '' : 'display:none'}"}
        Visioning
        =radio_button_tag :purpose, 'visioning'
        %br
        Action Planning
        =radio_button_tag :purpose, 'action_planning'
        %br        
        Project Management
        =radio_button_tag :purpose, 'project_management'
        %br        
      

      .analyzing.purpose{:style => "#{params[:phases] == 'analyzing' ? '' : 'display:none'}"}
        Assessment
        =radio_button_tag :purpose, 'assessment'
        %br
        Comprehensive Analysis
        =radio_button_tag :purpose, 'comprehensize_analysis'
        %br      
      
      .implementing.purpose{:style => "#{params[:phases] == 'implementing' ? '' : 'display:none'}"}
        People Focused
        =radio_button_tag :purpose, 'people_focused'
        %br
        Green Focused
        =radio_button_tag :purpose, 'green_focused'
        %br        
        Grow Focused
        =radio_button_tag :purpose, 'grow_focused'
        %br        
        Sustainable Focused
        =radio_button_tag :purpose, 'sustainable_focused'
        %br      
    
    
      .reviewing.purpose{:style => "#{params[:phases] == 'reviewing' ? '' : 'display:none'}"}
        Project Evaluation
        =radio_button_tag :purpose, 'project_evaluation'
        %br        
        Process Evaluation
        =radio_button_tag :purpose, 'process_evaluation'
        %br        
        Community Feedback
        =radio_button_tag :purpose, 'community_feedback'
        %br          
    
         