= f.error_messages


%table{:border => 0, :width => '100%'}
  %tr
    %td{:width => '50%', :valign => 'top'}
      -if current_user.try(:is_admin?)
        %br
        =t(:is_admin?, :scope => :devise)
        %br
        =f.check_box :is_admin

        %br
        =t :active?, :scope => :devise
        %br
        =f.check_box :active    
        %br
      - if (['edit', 'update'].include? params[:action]) && current_user == @user
        %br
        =t :password, :scope=>[:activerecord,:attributes,:user]
        <br>
        = f.password_field :current_password
      %p    
      <br>
      ="#{t(:username, :scope => :devise)} (#{t :mandatory_field, :scope => :devise})".html_safe
      <br>
      = f.text_field :username
      %p
      
      %br
      ="#{t(:first_name, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe
      %br
      = f.text_field :first_name
      %p

      %br
      ="#{t(:last_name, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe
      %br
      = f.text_field :last_name
      %p      

      <br>
      ="#{t(:email, :scope => :devise)} (#{t :mandatory_field, :scope => :devise})".html_safe
      <br>
      = f.email_field :email
      %p
      
      <br>
      ="#{t(:password, :scope => :devise)} (#{t :mandatory_field, :scope => :devise})".html_safe
      <br>
      = f.password_field :password
      %p
      <br>

      ="#{t(:confirm_password, :scope => :devise)} (#{t :mandatory_field, :scope => :devise})".html_safe
      <br>
      = f.password_field :password_confirmation
      %p
           
      
      
    %td{:width => '50%', :valign => 'top'}
      
      %br
      ="#{t(:current_role, :scope => :devise)} (#{t :mandatory_field, :scope => :devise})".html_safe      
      %br
      = f.text_field :current_role
      %p 
      
      
      %br
      ="#{t(:organization, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe
      %br
      = f.text_field :organization
      %p  
      
      %br
      ="#{t(:city_town, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe
      %br
      = f.text_field :city_town
      %p
      
      
      %br
      ="#{t(:state_province, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe      
      %br
      = f.text_field :state_province
      %p   
      
      %br
      ="#{t(:country, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe
      %br
      = f.text_field :country
      %p     
      
      %br
      ="#{t(:address, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe
      %br
      = f.text_area :address, :rows => 3
      %p      
      
      
      %br
      ="#{t(:years_of_experience, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe
      %br
      = f.text_field :years_of_experience, :rows => 3
      %p 
      
      %br
      ="#{t(:professional_training, :scope => :devise)} (#{t :optional_field, :scope => :devise})".html_safe      
      %br
      = f.text_area :professional_training_and_accreditation, :rows => 3
      %p                    
      
    
 
= f.submit text, :class => 'btn primary'
