%h2
  Create a new user account

= form_for [:admin, @user], :builder => CmFormBuilder do |f| 
  = f.error_messages
  
  <br>
  Username
  <br>
  = f.text_field :username
  %p
  
  -if current_user.is_admin?
    %br
    Is Admin?
    %br
    =f.check_box :is_admin


  <br>
  Email
  <br>
  = f.email_field :email
  %p
  <br>
  Password
  <br>
  = f.password_field :password
  %p
  <br>
  
  Confirm password
  <br>
  = f.password_field :password_confirmation
  %p

  = f.submit "Create User", :class => 'btn primary'
  =link_to "Cancel", admin_users_path, :class => 'btn error'
