:javascript
  $(function(){
   $('.step2clickable').click(function(){
     $(this).parent().spin();
     $('.highlight2row' ).removeClass( 'highlight2row' );
     $(this).addClass( 'highlight2row' );
     $.ajax({
       url: "#{phases_path}",
       dataType: 'script',
       data: "format=js&purpose=" + $(this).attr( 'show_rez' )
     });
     $('#search_results').show();
   });

   $('.step1clickable').click(function(){
     $('#search_results').hide();
     $('#Organizing' ).hide();
     $('#Planning' ).hide();
     $('#Analyzing' ).hide();
     $('#Implementing' ).hide();
     $('#Reviewing' ).hide();
     $('.highlight1row' ).removeClass( 'highlight1row' );
     $(this).addClass( 'highlight1row' );
     $('#'+ $(this).attr('show_table') ).show();
   });

   $('#phases').click(function(){
     select_purpose("." + $(this).val().toLowerCase());
   }); 
   
   $('.purpose_select').click(function(){
     $('#phases_table').spin();
     $.ajax({
       url: "#{phases_path}",
       dataType: 'script',
       data: "format=js&purpose=" + $(this).val()
     });
     $('#search_results').show();
   });
  });

  function select_purpose(clazz){
    $('.purpose').hide();
    $('#search_results').hide();
    $(clazz).show();
    return true;
  }


.page-header
  %h1
    =t :title, :scope =>[:search, :phases]
    %small
      =t :subtitle, :scope =>[:search, :phases]

%table{:width => '75%'}
  %tr
    %td
      %h2
        =t :step_one, :scope =>[:search, :phases]
        %small
          =t :step_one_text, :scope =>[:search, :phases]
%table{:width => '75%', :frame=>'box', :cellspacing => 0, :cellpadding => 3}
  - ii = 0;
  - FormConstants.when.each do |r| 
    %tr.step1clickable{:show_table => r}
      %td{:width => '30%'}
        #{r} (#{Tool.count(:conditions => {:when => r})})
      %td
        #{FormConstants.whendefns[ii]}
        - ii = ii + 1;
            
%p
%table#step2_table{:width => '75%'}
  %tr
    %td
      %h2
        =t :step_two, :scope =>[:search, :phases]
        %small
          =t :step_two_text, :scope =>[:search, :phases]
%table#Organizing{:width => '75%', :frame=>'box', :style=>'display:none', :cellspacing => 0, :cellpadding => 3}
  - ii = 0;
  - FormConstants.organizing_purpose.each do |r|
    %tr.step2clickable{:show_rez => r}
      %td{:width => '30%'}
        #{r} (#{Tool.count(:conditions => {:why => r})})
      %td
        #{FormConstants.orgdefns[ii]}
        - ii = ii + 1;
%table#Planning{:width => '75%', :frame=>'box', :style=> 'display:none', :cellspacing => 0, :cellpadding => 3}
  - ii = 0;
  - FormConstants.planning_purpose.each do |r|
    %tr.step2clickable{:show_rez => r}
      %td{:width => '30%'}
        #{r} (#{Tool.count(:conditions => {:why => r})})
      %td
        #{FormConstants.plandefns[ii]}
        - ii = ii + 1;
%table#Analyzing{:width => '75%', :frame=>'box', :style=> 'display:none', :cellspacing => 0, :cellpadding => 3}
  - ii = 0;
  - FormConstants.analyzing_purpose.each do |r|
    %tr.step2clickable{:show_rez => r}
      %td{:width => '30%'}
        #{r} (#{Tool.count(:conditions => {:why => r})})
      %td
        #{FormConstants.analdefns[ii]}
        - ii = ii + 1;
%table#Implementing{:width => '75%', :frame=>'box', :style=> 'display:none', :cellspacing => 0, :cellpadding => 3}
  - ii = 0;
  - FormConstants.implementing_purpose.each do |r|
    %tr.step2clickable{:show_rez => r}
      %td{:width => '30%'}
        #{r} (#{Tool.count(:conditions => {:why => r})})
      %td
        #{FormConstants.impldefns[ii]}
        - ii = ii + 1;
%table#Reviewing{:width => '75%', :frame=>'box', :style=> 'display:none', :cellspacing => 0, :cellpadding => 3}
  - ii = 0;
  - FormConstants.reviewing_purpose.each do |r|
    %tr.step2clickable{:show_rez => r}
      %td{:width => '30%'}
        #{r} (#{Tool.count(:conditions => {:why => r})})
      %td
        #{FormConstants.revdefns[ii]}
        - ii = ii + 1;
   
%br    
%br    
#search_results
