!!!
%html
  %head
    %title
      = @tool.try(:name) || 'The Choice Matrix'
    %meta{:name => 'description', :content => @tool.try(:description) || 'The Choice Matrix Website'}
    
    %meta{:property => 'og:title', :content => @tool.try(:name) || 'The Choice Matrix'}
    %meta{:property => 'og:description', :content => @tool.try(:description) || 'The Choice Matrix Website'}    
    %meta{:property => 'og:type', :content => 'university'}
    %meta{:property => 'og:image', :content => "#{image_url('RDI_Logo1.bmp')}"}
    %meta{:property => 'og:url', :content => "#{request.url.gsub(/\/(en|fr)/, '')}"}    
    %meta{:property => 'og:site_name', :content => 'Rural Development Institute - The Choice Matrix'}
    %meta{:property => 'fb:admins', :content => '654461060'}    
    
    = stylesheet_link_tag :application   
    = javascript_include_tag :application
        
    = yield(:head)    
    = csrf_meta_tag  
    
%body{:style => 'padding-left:0px'}
  =render :partial => 'layouts/topbar'
  =render :partial => 'shared/facebook_js'
  %center
    %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
      %tr
        -if @splash
          %td.splash{:align => 'left'}
            .container
              =render :partial => 'shared/flashes'  
              #content.well
                %center
                  %h1{:style => 'font-size:300%'}
                    =Rails.configuration.app_name
                  %p
                  %h2
                    Easy to find Community Economic Development (CED) tools for you and your project. 
                %br
                %br
                %center
                  =render :partial => 'shared/like_buttons'
                %center
                  %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
                    %tr
                      %td{:align => 'center'}
                        =link_to image_tag('template/splash_button_people.png', :width => 200, :title=> t(:alt_people), :style => 'margin:0px;padding:0px;float:left;'), people_path                 
                        %h1.front_page People
                      %td{:align => 'center'}
                        =link_to image_tag('template/splash_button_green.png', :width => 200, :title=> t(:alt_green), :style => 'margin:0px;padding:0px;float:left;'), green_path              
                        %h1.front_page Green
                      %td{:align => 'center'}
                        =link_to image_tag('template/splash_button_grow.png', :width => 200, :title=> t(:alt_grow), :style => 'margin:0px;padding:0px;float:left;'), grow_path                    
                        %h1.front_page Grow
                  %table{:cellpadding => 0, :cellspacing => 0, :border => 0}                        
                    %tr
                      %td{:align => 'center'}
                        =link_to image_tag('template/splash_button_balanced.png', :width => 200, :title=> t(:alt_balanced), :style => 'margin:0px;padding:0px;float:left;'), balanced_path                  
                        %h1.front_page Balanced                        
                      %td{:align => 'center'}
                        =link_to image_tag('template/splash_button_search.png', :width => 200, :title=> t(:alt_search), :style => 'margin:0px;padding:0px;float:left;'), search_path                  
                        %h1.front_page Search                        
                      %td{:align => 'center'}
                        =link_to image_tag('template/splash_button_phases.png', :width => 200, :title=> t(:alt_phases), :style => 'margin:0px;padding:0px;float:left;'), phases_path                 
                        %h1.front_page Phases                        
                      -#- if current_user.try(:is_admin?)
                      -#  %td
                      -#    =link_to image_tag('template/splash_button_admin.png', :width => 200, :style => 'margin:0px;padding:0px;float:left;'), admin_index_path                 
                %br
                %br
                %br   
                =yield                     
        -else
          %td.body{:align => 'left'}
            =render :partial => 'shared/flashes'
            .container.well
              #content
                = yield          
      %tr
        %td#footer{:height => 200, :valign => 'top'}
          =render :partial => 'layouts/footer'


          

