!!!
%html
  %head
    %title
      The Choice Matrix
    %meta{:name => 'description', :content => 'The Choice Matrix'}
    = stylesheet_link_tag :all     
    = javascript_include_tag :defaults, 'jquery.spinner'
    = yield(:head)    
    = csrf_meta_tag 
    
%body
  .clear_both
  =render :partial => 'shared/users'
  .clear_both  
  %center
    %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
      %tr
        %td#header{:align => 'center'}
          -if current_user.try(:is_admin?)
            =link_to image_tag('template/header_title_short.png',:width => 498, :height => 116, :style => 'margin:0px;padding:0px;float:left;'), root_path           
          -else
            =link_to image_tag('template/header_title.png', :style => 'margin:0px;padding:0px;float:left;'), root_path
          =link_to image_tag('template/header_people.png', :style => 'margin:0px;padding:0px;float:left;'), people_path
          =link_to image_tag('template/header_green.png', :style => 'margin:0px;padding:0px;float:left;'), green_path
          =link_to image_tag('template/header_grow.png', :style => 'margin:0px;padding:0px;float:left;'), grow_path        
          =link_to image_tag('template/header_search.png', :style => 'margin:0px;padding:0px;float:left;'), search_path
          - if current_user.try(:is_admin?)
            =link_to image_tag('template/header_phases_middle.png', :style => 'margin:0px;padding:0px;float:left;'), phases_path            
            =link_to image_tag('template/header_admin.png', :style => 'margin:0px;padding:0px;float:left;'), admin_index_path 
          -else
            =link_to image_tag('template/header_phases.png', :style => 'margin:0px;padding:0px;float:left;'), phases_path
      %tr
        -if @splash
          %td.splash{:align => 'left'}
            .container
              %br
              %br
              %br
              #content
                =render :partial => 'shared/flashes'              
                %center
                  %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
                    %tr
                      %td
                        =link_to image_tag('template/splash_button_people.png', :width => 200, :style => 'margin:0px;padding:0px;float:left;'), people_path                 
                      %td
                        =link_to image_tag('template/splash_button_green.png', :width => 200, :style => 'margin:0px;padding:0px;float:left;'), green_path              
                      %td
                        =link_to image_tag('template/splash_button_grow.png', :width => 200, :style => 'margin:0px;padding:0px;float:left;'), grow_path                    
                  %table{:cellpadding => 0, :cellspacing => 0, :border => 0}                        
                    %tr
                      %td
                        =link_to image_tag('template/splash_button_search.png', :width => 200, :style => 'margin:0px;padding:0px;float:left;'), search_path                  
                      %td
                        =link_to image_tag('template/splash_button_phases.png', :width => 200, :style => 'margin:0px;padding:0px;float:left;'), phases_path                 
                      - if current_user.try(:is_admin?)
                        %td
                          =link_to image_tag('template/splash_button_admin.png', :width => 200, :style => 'margin:0px;padding:0px;float:left;'), admin_index_path                 
                %br
                %br
                %br   
                =yield                     
        -else
          %td.body{:align => 'left'}
            .container
              %br
              %br
                #content
                  =render :partial => 'shared/flashes'
                  %br
                  = yield          
      %tr
        %td#footer{:height => 200, :valign => 'top'}
          =link_to image_tag('template/footer.png'), 'http://www.beyondthecube.ca'


          

