!!!
%html
  %head
    %title
      The Choice Matrix
    %meta{:name => 'description', :content => 'The Choice Matrix'}
    = stylesheet_link_tag :all     
    = javascript_include_tag :defaults
    = yield(:head)    
    = csrf_meta_tag 
    
%body
  .clear_both
  #masthead
    .inner
      .container
        %h1
          =link_to 'The Choice Matrix', root_path
  .container
    = render :partial => 'shared/topbar'  
    %br
    %br
      #content
        =render :partial => 'shared/flashes'
        = yield 
    %br
    %br
  #footer
    .inner
      .container
        %center
          &copy The Choice Matrix, RDI
          =Time.now.year
          ="-"
          ="Software developed by #{link_to 'Beyond The Cube', 'http://www.beyondthecube.ca'}".html_safe
          

