!!!
%html
  %head
    %title
      The Choice Matrix
    %meta{:name => 'description', :content => 'The Choice Matrix'}
    = stylesheet_link_tag :all     
    = javascript_include_tag :defaults
    = yield(:head)    
    = csrf_meta_tag 
    
%body
  = render :partial => 'shared/topbar'
  .clear_both
  #masthead
    - if controller.is_a? WelcomeController
      .inner
        .container
          %h1
            The Choice Matrix, from RDI at BU  
          %p.lead
            The Choice Matrix is a toolkit from RDI at BU designed ...etc.

      .quickstart
        .container
          .row
            .span5.columns
              Guided Selection Quick Start
            .span5.columns
              Search Quick Start
            .span5.columns
              Reviews Quick Start        
  .container
    %br
    %br
      #content
        =render :partial => 'shared/flashes'
        = yield 
    %br
    %br
  #footer
    .inner
      .container
        %center
          &copy The Choice Matrix
          =Time.now.year
          ="-"
          ="Developed by #{link_to 'Beyond The Cube', 'http://www.beyondthecube.ca', :class => 'orange'}".html_safe
          

